
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(37, 37, 37);
}

.desc{
    margin-top: 100px;
}

.desc .flex{
    flex-wrap: wrap;
}

.desc .card{
   
    transition: transform 0.3s ease-in;

}

.title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 6px;
    color: white;

}

.subtitle{
    color: rgb(191, 32, 32);
}



.subtitle2{
    color: rgb(20, 5, 226);
}



.subtitle3{
    color: rgb(6, 148, 39);
}

.subtitle1{
    margin-bottom: 30px;
}

.amt{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(191, 32, 32);

}


.amt2{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(20, 5, 226);

}


.amt3{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(6, 148, 39);

}
#header{
    display: flex;
    justify-content: center;
    background-color: rgb(206, 59, 59);
    width: 100%;
    height: 70px;
    border-radius: 10px;
}


#header2{
    display: flex;
    justify-content: center;
    background-color: rgb(20, 5, 226);
    width: 100%;
    height: 70px;
    border-radius: 10px;
}


#header3{
    display: flex;
    justify-content: center;
    background-color: rgb(6, 148, 39);
    width: 100%;
    height: 70px;
    border-radius: 10px;
}

.line{
    width: 100%;
    height: 20px;
    background-color: rgb(206, 59, 59);
    margin-top: -20px;
    
}


.line2{
    width: 100%;
    height: 20px;
    background-color: rgb(20, 5, 226);
    margin-top: -20px;
    
}


.line3{
    width: 100%;
    height: 20px;
    background-color: rgb(6, 148, 39);
    margin-top: -20px;
    
}

.desc2{
    margin-bottom: 30px;
    margin-top: 30px;
}

.body{
    text-align: center;
    margin-top: 30px;

}
.btn{
    text-decoration: none;
    margin-bottom: 500px;
    padding: 12px 25px;
    border-radius: 40px;
    border: 1px solid black;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-top: 39px;
    
}
.btn:hover{
 font-size: 17px;
}

.para{
    border-bottom: 1px solid rgb(141, 139, 139);
    padding-bottom: 0.8em;
    margin: 20px 0;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
   
}


.card{
    background-color:  white;
    border-radius: 10px;
    margin: 10px;
    width: 320px;
    height: 670px;

}